#software load balancer 

#haproxy config 

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s

frontend htpd
  bind *:123
  mode http
  use_backend htpd

frontend ngnix
  bind *:456
  mode http
  use_backend ngnix
  

backend htpd
  balance roundrobin
  mode http
  option forwardfor
  server 3_86_16_175_90 3.86.16.175:8080
  server 3_216_80_89_90 3.216.80.89:8080
  # additional servers here

backend ngnix
  balance roundrobin
  mode http
  option forwardfor
  server 3_86_16_175_80 3.86.16.175:80
  server 3_216_80_89_80 3.216.80.89:80
  # additional servers here
